[submodule "vendors/googletest"]
	path = vendors/googletest
	url = https://github.com/google/googletest
[submodule "vendors/eigen"]
	path = vendors/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vendors/phmap_parallel_hashmap"]
	path = vendors/phmap_parallel_hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
